* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F3F5FC;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    max-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    flex-wrap: wrap;

}

header {
    box-sizing: border-box;
    width: 50%;
    position: relative;
    z-index: 1;
}

.logo_alura{
    width: 7.5rem;
    height: 3rem;
    margin: 2.5rem;
}

.input_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin: auto;
    justify-content: space-between;
    gap: 1rem;
}

.input_texto-parrafo{
    display: flex;
    align-self: flex-start;
    text-align: left;
    margin-left: 1rem;
    gap: 0.5rem;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    color: #495057;
}

textarea{
    width: 50vw;
    height: 50vh;
    margin: 1rem;
    color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    border: none;
    resize: none;
    outline: none;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.output_texto {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: 2.5rem;
    width: 25rem;
    height: 80vh;
    border-radius: 32px;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.08);
}

.muñeco, .output_texto-parrafo, .output_texto-titulo{
    background-color: white;
}

.muñeco {
    width: 21rem;
    height: 19rem;
}

.output_texto-titulo{
    margin-top: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    width: 21rem;
}

.output_texto-parrafo{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    width: 21rem;
    margin-top: 1rem;
}

.copiar{
    background-color: white;
    padding: 1.5rem;
    margin: 1.5rem;
    width: 20.5rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #0A3871;
    box-shadow: none;
    outline: none;
}

.mensajeFinal {
    max-width: 80%;
    max-height: 80%;
    text-align: left;
    margin-top: 1.5rem;
    background-color: white;
    color: #495057;
    box-sizing: border-box;
    overflow: auto;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    border: none;
    resize: none;
    outline: none;
}

.botones{
    gap: 1.5rem;
}

.encriptar, .desencriptar{
    padding: 1.5rem;
    width: 20.5rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.encriptar{
    background-color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.desencriptar{
    background-color: #D8DFE8;
    border-color: #0A3871;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #0A3871;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

footer{
    margin-top: auto;
    padding: 1rem;
    background-color: #0A3871;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: white;

}

strong{
    background-color: #0A3871;
    font-size: 1.5rem;
    margin-left: 0.55rem;

}

.git{
    background-color: #0A3871;
    height: 3rem;
    margin: 1rem;

}

a{
    background-color: #0A3871;
    margin: 0;
    padding: 0;
    border: none;

}

@media (max-width: 1151px) {
    main{
        flex-direction: column;
        justify-content: center;
    }
    .output_texto{
        margin: 0;
        margin-bottom: 2rem;
    }

    header{
        display: flex;
        width: 100%;
        justify-content: center;
    }

}

@media (max-width: 711px) {
    .input_texto{
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    
    .botones{
        flex-direction: column;
        justify-content: center;
    }

    .muñeco{
        display: none;
    }

    .output_texto{
        height: auto;
        max-width: 80%;
    }

    .output_texto-parrafo{
        font-size: 0.8rem;
        width: fit-content;
        margin-bottom: 1rem;
        max-width: 80%;
    }

    .output_texto-titulo{
        font-size: 1rem;
        width: fit-content;
    }

    .copiar{
        width: 80%;
    }
}